// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_frame {
  margin-bottom: 1em;
  h3 {
    margin-bottom: 1em;
  }
  ul.comments {
    list-style-type: none;
    padding-left:0;
    margin-bottom: 1em;
    li:only-child {
      border-radius: 5px;
    }
    li.comment {
      margin-bottom: 1em;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      &:hover { border: 1px solid #0275d8; background-color: #b9defe; box-shadow: 0 0 7px #888888;}
      .content_of_comment {
        border: 1px solid #eaeaea;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        padding: 1em;
      }
      .status_of_comment {
        border: 1px solid #eaeaea;
        border-radius: 0 0 5px 5px;
        padding: 1em;
        background-color: #eeeeee;
      }
    }
    .comment .simple_form {
      margin-top:.5em;
      margin-bottom: 0;
    }
  }
  .simple_form {
    margin-bottom: 1em;
  }
}
