// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-actions {
  border-top: 1px solid #ccc;
  background-color: #eaeaea;
  padding: 1em;
  margin-bottom: 2em;
}
